img {
    position: absolute;
   
}

#name {
    padding:10px;
    position: fixed;
    z-index: 999;
    background-color:#ffffff;
    border:1px solid #000000;
    font-weight: bold;
    font-size:20px;
}

#plate {
    width:500px;
    height:500px;
    
}

