img {
    position: absolute;

}

#name {
    padding: 10px;
    box-sizing: content-box;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Anton', sans-serif;
   
   
}

#plate {
    width: 70%;
    height: 500px;
   
    margin-left: 30%;




}

#container {
    margin-top:20px;
    width:100%;
    border:solid 2px #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-image:url(img/tafel.jpg);
    background-size:cover;
    display:flex;
    flex-direction: column;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    background-image: url(img/bg.jpg);
 
   
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100%;
        height: 400px;

    }

    #name {
        width: 100%;
        padding: 0;
    }

    body {
        width: 100%;
    }

    #plate {
        width:85%;
        margin-left:15%;
    }

}